/* cntnd_schedule */
.form-control-sm {
  font-size: 11px !important;
}

.form-group {
  margin-bottom: .5rem !important;
}

label {
  margin-bottom: .25rem !important;
}

.config-container {

}

.col-title {
  font-weight: 700;
  padding: 5px 10px;
  border-bottom: 1px solid darkgray;
}

.sortable {
  min-height: 40px;
}